.top-panel {
    -fx-pref-height: 40px;
    -fx-background-color: #2b2b2b;
    -fx-padding: 5;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.close-button:hover {
    -fx-border-color: white;
}

.bottom-panel {
    -fx-padding: 0 0 0 10px;
    -fx-alignment: center-left;
    -fx-pref-height: 30px;
}

.add-button {
    -fx-pref-width: 30px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.add-button:hover {
    -fx-border-color: white;
}

.dark-context-menu {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1;
    -fx-padding: 5;
}


.dark-context-menu .menu-item {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 14;
}

.dark-context-menu .menu-item:hover,
.dark-context-menu .menu-item:focused {
    -fx-background-color: #3b3b3b;
}

.round-check-box .box {
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-padding: 3px;
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 4, 0, 1, 1);
    /* Стиль по умолчанию (не выбрано) */
    -fx-background-color: linear-gradient(to bottom right, #2e8b57, #006400, #004d00);
}

/* Стиль для выбранного состояния */
.round-check-box:selected .box {
    -fx-background-color: linear-gradient(to bottom right, #90ee90, #32cd32, #006400);
}

/* Полностью скрываем стандартную метку */
.round-check-box .mark {
    visibility: hidden;
}